.container {
	width: 1280px;
	margin: 0 auto;
}

.header {
	width: 100%;
	background-color: #445162;
	padding: 50px;
	box-sizing: border-box;
	/*outline: 2px solid black;*/
	margin: 0 auto;
}

.header:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.header-wapper {
	float: left;
}

.header-title {
	width: 367px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	margin: 0;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 60px;
	font-weight: 400;
}

.header-list {
	width: 422px;
	height: 127px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
	padding: 0;
	list-style: none;
	min-width: 499px;	
}

.header-list li {
	position: relative;
	padding: 0 0 0 36px;
}

.header-list li:before {
	content: "";	
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	left: 0px;
	top: 5px;
	background-image: url(img/check_icon.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.img-title {
	background-color: #ffffff;
	height: 214px;
	width: 469px;
	display: block;
	float: right;
}
.about {
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	padding: 50px;

}
.about:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.about-wapper{
	float: left;

}
.about-header{
	margin: 0 0 30px 0;	
	width: 254px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;

}
.about-p{
	margin: 0;
	width: 649px;
	color: #333333;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	min-width: 745px;
}
.about-video{
	float: right;

}
.pluses {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	/*outline: 2px solid black;*/
	padding: 50px;
	background-color: #f5f5f5;	
}
.pluses:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.pluses-header{
	width: 351px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	
}
.pluses-list-1 {
	float: left;
	margin-top: 29px;

}
.pluses-list-2 {
	float: right;
	margin-top: 29px;
	padding-right: 73px;

}
.pluses-details {
	width: 526px;
	height: 63px;
	color: #333333;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 40px;
	max-height: 80px;
	
}
.pluses-sum {
	display: block;
}
details summary::-webkit-details-marker {
  display: none;
}
 details summary:before {
 	content: "";
 	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 5px;
	background-image: url(img/layer.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;";
}
details[open] summary:before {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 5px;
	background-image: url(img/layer2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}
.pluses-text {
	padding-left: 41px;
	margin: 0;
}
.scrinshot {
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	padding: 50px;
}
.scrinshot:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.scrinshot-header {
	width: 138px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.scrinshot-div-1{
	float: left;
}
.scrinshot-div-2{
	float: right;
}
.scrinshot-main {
	margin: 0 0 15px 0;

}

.scrinshot-image {
	margin: 0 15px 0 0;

}
.scrinhot-image{
	height: 150px;
	width: 200px;
}
.scrinshot-fig{
	display: inline-block;

}
.scrinshot-fig-header {
	width: 310px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	margin: 0 0 0 0;
}
.scrinshot-fig-parag{
	width: 359px;
	color: #333333;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 15px 0 0 0;
}
.reviews {
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	padding: 50px;
}
.reviews:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.reviews-title {
	width: 138px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.reviews-section-1 {
	float: left;
}
/*.reviews-section-1:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}*/
.reviews-section-2 {
	float: right;
}
/*.reviews-section-2:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}*/
.reviews-div{
	margin: 0 0 40px 0;
}
.reviews-img {
	width: 75px;
	height: 75px;
	
}
.reviews-content{
	background-color: #ebebeb;
	float: right;
	margin: 0 0 0 43px;
	padding: 11px;
	position: relative;
}
.reviews-content:before{
	content: ''; 
    position: absolute;
    border: 20px solid transparent;	
    border-right: 20px solid #ebebeb;
    left: -37px;
}
.reviews-text{
	width: 436px;
	color: #333333;
	font-family: "Arial - Italic MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 15px 0;
}
.reviews-name{
	width: 67px;
	color: #989898;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 0 0;
}
.buy{
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	padding: 50px;
}
.buy:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.buy-title{
	width: 138px;
	color: #445161;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.buy-content {
	display: flex;
	align-items: flex-end;
 	flex: 1 0 auto;
 	margin-right: 90px;

}
.buy-card-1 {
	width: 300px;
	background-color: #445162;	
	border: 1px solid #445162;
	border-radius: 1%;
	margin-right: 45px;
	margin-left: 90px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.buy-card-2 {
	width: 300px;
	background-color: #445162;
	border: 1px solid #445162;
	border-radius: 1%;
	margin-right: 45px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.buy-card-3 {
	width: 300px;
	background-color: #445162;
	border: 1px solid #445162;
	border-radius: 1%;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.buy-card-title {
	
	height: 18px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	
}
.buy-card-price{
	display: block;
	width: 100%;
 	margin: 0 0 10px 0;
 	padding: 10px;
	background-color: #ffffff;
	color: #445162;
	text-align: center;
	box-sizing: border-box;
	font-family: Arial MT;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
}
.buy-card-price p{
	margin: 18px 0 0 0;
}
.buy-card-list{
	width: 242px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.buy-card-botton {
	width: 37px;
	height: 13px;
	color: #445161;
	font-family: "Arial - Bold MT";
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 14px 112px 13px 111px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	margin: 0 auto;
}
.contacts{
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	padding: 50px;
	background-color: #445162
}
.contacts:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.contacts-title{
	width: 117px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
}
.contacts-form{
	float: left;
	margin: 31px 0 0 199px;
}
#name {
	display: block;
	width: 500px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 21px;
	color: #445162;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;;
}
#email {
	display: block;
	width: 500px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 21px;
	color: #445162;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
#comments {
	display: block;
	width: 500px;
	height: 170px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 21px;
	color: #445162;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
#contacts-submit {
	display: block;
	width: 140px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
	margin: 0 auto;
	color: #445162;
	font-family: "Arial - Bold MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.contacts-adress{
	float: right;
	margin-right: 160px;
	margin-top: 31px;
}
.contacts-adress-skype{
	display: block;
	width: 165px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 21px;
}
.contacts-adress-skype:after {
	content: "";	
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -40px;
	top: -5px;
	background-image: url(img/skype_icon.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.contacts-icq{
	display: block;
	width: 165px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 21px;
}
.contacts-icq:after {
	content: "";	
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -40px;
	top: -5px;
	background-image: url(img/icq_icon.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.contacts-email{
	display: block;
	width: 165px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 21px;
}
.contacts-email:after {
	content: "";	
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -40px;
	top: -5px;
	background-image: url(img/email_icon.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.contacts-number{
	display: block;width: 165px;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 21px;
}
.contacts-number:after {
	content: "";	
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -40px;
	top: -5px;
	background-image: url(img/phone_icon.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer{
	width: 100%;
	margin: 0;
	/*outline: 2px solid black;*/
	box-sizing: border-box;
	display: flex;

}
.footer-text{
	width: 284px;
	color: #445162;
	font-family: "Arial MT";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin: 0 auto;
	align-items: flex-end;
}